[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
black = "==19.10b0"

[packages]
python-dotenv = "*"
azure-devops = "==6.0.0b2"

[requires]
python_version = "3.8"
